* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
nav{
  height: 50px;
  line-height: 50px;
  width: 100%;
  margin-top: 100px;
  padding: 0 30px;
}
.list_style {
  list-style: none;
}
li {
  display: inline;
  padding: 0 10px;
}
.float_left li:first-child {
  padding-left: 0;
}
.float_right li:last-child {
  padding-right: 0;
}
a {
  text-decoration: none;
  color: grey;
}
a:hover {
  color: black;
}
.clearfix {
  content: "";
  clear: both;
  display: table;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
#logo {
  height: 25px;
  vertical-align: middle;
}
.p_relative {
  position: relative;
}
.dropdown {
  min-height: 150px;
  min-width: 150px;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px, rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  /* display: none; */
}
.dropdown a {
  padding-left: 15px;
}
#dropdown_abbonamento {
  right: -27px;
  top: 100%;
}
#dropdown_chisiamo {
  right: -50px;
  top: 100%;
}
#dropdown_aiuto {
  right: -83px;
  top: 100%;
}
.display_none {
  display: none;
}
